* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgray;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: blue;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: blue;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

/* !!!!These below are of my creation !!!!*/
header {
    font-size: 250%;
    text-align: center;
    color: blue;
    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(195,195,195,1) 100%, rgba(0,212,255,1) 100%);
    margin-left: -20px;
}

q {
  font-style: italic;
}

h2 {
  margin-top: 8px;
}

table, th, td {
  border: 2px solid;
}

th {
  text-align: center;
}

.width {
  width: 50%
}
.centered {
  text-align: center;
}

.w60{
  width: 60%;
}

.black{
  color: black;
}
