{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td class="text-start">A</td>
                <td class="text-end">1</td>
                <td class="text-end">$139.59</td>
                <td class="text-end">2024-04-30 07:54:54</td>
            </tr>

            <tr>
                <td class="text-start">C</td>
                <td class="text-end">2</td>
                <td class="text-end">$62.26</td>
                <td class="text-end">2024-04-30 07:54:59</td>
            </tr>

            <tr>
                <td class="text-start">B</td>
                <td class="text-end">5</td>
                <td class="text-end">$35.39</td>
                <td class="text-end">2024-04-30 07:55:04</td>
            </tr>

            <tr>
                <td class="text-start">D</td>
                <td class="text-end">1</td>
                <td class="text-end">$51.41</td>
                <td class="text-end">2024-05-07 09:15:01</td>
            </tr>

            <tr>
                <td class="text-start">D</td>
                <td class="text-end">-1</td>
                <td class="text-end">$51.41</td>
                <td class="text-end">2024-05-07 09:15:08</td>
            </tr>

    </tbody>
</table>

{% endblock %}
