{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
    {% set ns = namespace(total = 0) %}
    {% for share in shares %}
    {{ ns.total }}
    {{ share['SUM(currentprice*shares)'] }}
    {% set ns.total = ns.total + share['SUM(currentprice*shares)'] %}
    <tr>
        <td class="text-start">{{ share.symbol }}</td>
        <td class="text-end">{{ share['SUM(shares)'] }}</td>
        <td class="text-end">{{ share.currentprice | usd }}</td>
        <td class="text-end">{{ share['SUM(currentprice*shares)'] | usd }} </td>
    </tr>
    {% endfor %}
    {% set ns.total = ns.total + cash %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ ns.total | usd }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}
