{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
    {{ shares }}
    {% for share in shares %}
    <tr>
        <td class="text-start">{{ share.symbol }}</td>
        <td class="text-end">{{ share['SUM(shares)'] }}</td>
        <td class="text-end">{{ share.price | usd }}</td>
        <td class="text-end">{{ share['SUM(price*shares)'] | usd }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ shares[0]['SUM(price*shares)'] }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}
